.container {
  text-align: center;
  width: 100%;
  height: 100%;
  flex: 1;
  background: url('../../routes/Home/assets/bus.jpg') left top no-repeat;
  left: 0;
  right: 0;
  position:absolute;
  background-size: cover;
}

